*, *:before, *:after{
	box-sizing: border-box;
}
html{
	font-size: 16px;
	line-height: 1.5;
}
ul {
	margin: 0; /* Отступ слева в браузере IE и Opera */
	padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
	li {
		list-style-type: none; /* Убираем маркеры */
	}
}
body{
	margin: 0px auto;
}
//form element
select, input, textarea{
	outline: none;
	border-style: none;
	border: none;
}
button{
	border: none;
}
button:active, button:focus {
	outline: none;
	border-style: none;
}
button::-moz-focus-inner, select::-moz-focus-inner {
	border: 0px;
}

input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
//text
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}
p{
	margin-top: 0px;
}
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
	text-decoration: none;
	color: inherit;
	-webkit-tap-highlight-color: transparent;
	word-break: break-word;
}
a:focus{
	outline: none;
}
